/* Restablecimiento de CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Cuerpo de la página */
  body {
    font-family: sans-serif;
    background-color: #f0f0f0;
  }
  
  /* Encabezado */
  .titulo{
    position: fixed;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; 
  }

  .info{
    top: 0;
    position: fixed;
    background-color:#F39C12;
    width: 100%;
    height: 55px;
    z-index: 9998;
    display: flex;
    align-items: flex-end; 
  }
  
  .link{
    width: 100%;
    color: #f0f0f0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }
  .encabezado {
    width: 100%;
    height: 100%;
    background-image: url('./img/Encabezado.jpeg');
    background-size: cover;
    background-position: center;
    padding: 200px 0px;
    z-index: 1000;
  }

  .contenedorButton{
    position:relative;
    top: 219px;
    text-align: right;
    margin-right: 10%;
    z-index: 9800;
  }

  #buscar-producto {
    width: 20%;
    padding: 9.5px;
    border: none;
    background-color: #F39C12;
    border-radius: 40px;
}
  @media (max-width: 655px) {
    #buscar-producto {
      width: 40px;
      height: 40px;
      padding: 20px;
      cursor: pointer;
      background-image: url('./img/find.png');
      background-size: contain;
      background-position: center;
      background-size: cover;
    }
  }

  
  #buscar-producto::placeholder {
    color: #ffffff;
  }
  
  h1 {
    font-size: 1.5em;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Banner */
  #banner {
    height: 300px;
    background-image: url("./img/banner.jpg");
    background-size: cover;
    background-position: center;
  }
  
  /* Productos destacados */
  #productos h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .productos-destacados{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  .contenedor-productos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .producto {
    width: 250px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    position:relative;
  }

  @media (max-width: 768px) {
    .producto {
      margin: 0;
    }
  }

  @media (max-width: 200px) {
    .producto {
      margin: 0;
    }
  }
  
  .producto h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .producto img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .producto p {
    margin-bottom: 10px;
  }
  
  .producto .precio {
    font-weight: bold;
  }
  
  .producto .boton {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: url('./img/anadir-al-carrito.png');
    background-size: contain;
    background-position: center;
  }

  .producto .offsale{
    width: 80px;
    height: 80px;
    display: block;
    position: absolute;
    cursor: pointer;
    background-image: url('./img/off.png');
    background-size: contain;
    background-position: center;
    display: none;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    
    padding-left: 7px;
  }
  
  #contacto {
    display: flex;
    height:550px;
    margin-bottom: 20px;
  }
  .form-container {
    width: 45%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
  }

    @media (max-width: 768px) {
      .contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
      }      
      .form-container {
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #ccc;
        border-radius: 10px;
        margin-bottom: 5%;
        border-radius: 0;
      }
    }
    
  #informacion {
    margin-left: 30px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .contenedor-productos {
      flex-direction: column;
    }
  
    .producto {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-group input[type="text"]:focus,
  .form-group input[type="email"]:focus {
    border-color: #66afe9;
  }
  
  .form-group button[type="submit"] {
    background-color: #F39C12;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }

  .imgLogin{
    width: 120px;
    height: 120px;
    display: block;
    margin: 10px;
    margin: 10px auto;
    background-image: url('./img/login.png');
    background-size: contain;
    background-position: center;
    border-radius: 5px;
    border: none;
  }

  .vertical-line {
    border-left: 1px solid #000; /* Estilo de la línea vertical */
    height: 100%; /* Altura para que llegue al final del contenedor */
    margin: 0 20px; /* Espacio a ambos lados de la línea */
  }
  .LoginText {
    margin-top: 25px;
  }
  .social-btn {
    display: inline-block;
    margin-right: 10px;
    width: 40px; /* Ancho del botón */
    height: 40px; /* Altura del botón */
  }
  .social-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .redes{
      position:relative;
      margin-left: 5%;
      top: 180px;
  }
  
  .LoginText {
    text-align: center;
  }
  
  .LoginText h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .LoginText p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 10px;
  }
  
  .benefits-list {
    list-style: disc;
    padding-left: 20px;
  }
  
  .benefits-list li {
    margin-bottom: 5px;
  }

  .form-group p {
    font-size: 12px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 10px;
  }
  
  

  